/venv/
.idea/*
data/
*.h5ad
*.zip
*.csv
temp
starfysh_reproducibility/
**/tb_logs
visualization/legacy/graph.png
visualization/legacy/graph
*.png
visualization/synthetic_data_pipeline
visualization/vae_contrastive_pipeline
*.json
*.pkl
starfysh_cn_generation.gv
*.pdf
vae_detailed_visualization.gv
vae_visualization.gv
*.pyc
visualization/legacy/plate_edge_example
vae_workflow_graph
vae_contrastive_pipeline
synthetic_data_pipeline/tb_logs
graph
synthetic_data_pipeline/.ipynb_checkpoints/contrastiveVI_tutorial-checkpoint.ipynb
pipeline_synthetic_data/tb_logs/2024-10-29_18_27_26/version_0/hparams.yaml
CITE-seq_RNA_seq/a.py
CODEX_RNA_seq/archetype_generation_real_old.ipynb
CODEX_RNA_seq/archetype_generation_real too far ahead).ipynb
CODEX_RNA_seq/archetype_generation_real_covet_old.ipynb
my_logs/*
history_test.log
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
external_data/protein_gene_conversion.csv
external_data/citeseq_pbmc/rna.txt
external_data/tonsil/tonsil_rna_counts.txt
mlruns/*
